# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
*.js
*.js.map
*.d.ts
/dist
/tmp
/out-tsc
/bazel-out
*.css
*.css.map
main.*
polyfills.*
runtime.*
styles.*
vendor.*
*.html
!src/**/*.html

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.env

# System Files
.DS_Store
Thumbs.db

# Allow specific files
!/src/**/*.js
!/karma.conf.js
!/e2e/**/*.js

# Allow built files for GitHub Pages deployment
# Do not exclude important built files for deployment
!/dist/**/*
!*.html
!*.js
!*.css
